*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}





body {
    background-image: url(photo/background.jpg);
    background-position: center; 
    background-repeat: repeat;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page {
    background-size: cover; 
    padding: 25px;
    border-radius: 100px;
    width: 400px;
    background-color: rgb(197, 217, 217);
    height: 700px;
    background-blend-mode:

}

.try {
    align-items: center;
    display: block;

}

#text {
    color: black; 
    display: flex;
    align-items: center;
    background-size: auto;

}